{% extends 'base.html' %}


{% block content %}
    <main>
        <h1>Your shopping list</h1>
        <form method="post" action="{% url 'shopping_delete' %}">
            {% csrf_token %}
            <button class="button">Delete All</button>
        </form>
        <ul>
            {% for item in shoppingitem_list %}
            <li>
                {{ item.food_item }}
            </li>
            {% endfor %}
        </ul>
    </main>
{% endblock content %}
