{% extends 'paginate.html' %}


{% block content %}
  <div>
    <h3><a href="{% url 'mealplan_new' %}">Create</a></h3>
  </div>
  <main class="recipe-grid">
    {% for mealplan in mealplan_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'mealplan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        {% for recipe in mealplan.recipes.all %}
        <p>
          <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </p>
        {% endfor %}
      </div>
    {% endfor %}
  </main>
{% endblock content %}
